<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="AccountJobObject" type="ParafiaPRO.Scheduler.Job.AccountJob, ParafiaPRO" singleton="false"/>
      
      <object id="AccountTrigger" type="Quartz.SimpleTrigger, Quartz" singleton="false">
        <property name="EndTimeUtc"><null/></property>
        <property name="RepeatCount" value="0"/>
      </object>
      
      <object id="AccountController" type="ParafiaPRO.Controller.Impl.AccountControllerImpl, ParafiaPRO">
      </object>

      <object id="AccountListView" type="ParafiaPRO.View.Impl.AccountListView, ParafiaPRO">
        <property name="AccountController" ref="AccountController"/>
        <property name="Location">
          <object type="System.Drawing.Point, System.Drawing">
            <constructor-arg index="0" value="2"/>
            <constructor-arg index="1" value="8"/>
          </object>
        </property>
      </object>

      <object id="Shell" type="ParafiaPRO.Shell, ParafiaPRO">
        <property name="AccountListView" ref="AccountListView"/>
      </object>
    </objects>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="ParafiaPRO.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="DelegateAppender" type="PBizBotLoggerAppender.PBizBotLoggerAppender, PBizBotLoggerAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <!--<appender-ref ref="DelegateAppender"/>-->
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
