<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="Logger" type="ParafiaPRO.Core.Logging.Logger, ParafiaPRO">
        <property name="LoggerPanelView" ref="LoggerPanelView"/>
      </object>
      
      <object id="Settings" type="ParafiaPRO.Core.Settings, ParafiaPRO"/>

      <object id="Session" type="ParafiaPRO.Core.Session.Session, ParafiaPRO" singleton="false">
        <property name="Settings" ref="Settings"/>
      </object>
      
      <object id="AccountDao" type="ParafiaPRO.Dao.Impl.AccountDaoImpl, ParafiaPRO">
        <property name="Settings" ref="Settings"/>
      </object>
      
      <object id="TimerJobObject" type="ParafiaPRO.Scheduler.Job.TimerJob, ParafiaPRO">
        <property name="AccountController" ref="AccountController"/>
      </object>

      <object id="TimerJobDetails" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz">
        <property name="TargetObject" ref="TimerJobObject"/>
        <property name="TargetMethod" value="RunProcess"/>
        <property name="Concurrent" value="false"/>
      </object>

      <object id="TimerTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="JobDetail" ref="TimerJobDetails"/>
        <property name="RepeatInterval" value="1s"/>
        <property name="StartDelay" value="0s"/>
      </object>

      <object id="AccountJobObject" type="ParafiaPRO.Scheduler.Job.AccountJob, ParafiaPRO" singleton="false">
        <property name="SchedulerService" ref="SchedulerService"/>
        <property name="HttpService" ref="HttpService"/>
        <property name="Session" ref="Session"/>
      </object>
      
      <object id="AccountTrigger" type="Quartz.SimpleTrigger, Quartz" singleton="false">
        <property name="EndTimeUtc"><null/></property>
        <property name="RepeatCount" value="0"/>
      </object>

      <object id="SchedulerFactory" type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <property name="Triggers">
          <list>
            <ref object="TimerTrigger"/>
          </list>
        </property>
      </object>

      <object id="SchedulerService" type="ParafiaPRO.Service.Impl.SchedulerServiceImpl, ParafiaPRO">
        <property name="SchedulerFactory" ref="SchedulerFactory"/>
      </object>

      <object id="AccountService" type="ParafiaPRO.Service.Impl.AccountServiceImpl, ParafiaPRO">
        <property name="AccountDao" ref="AccountDao"/>
      </object>

      <object id="HttpService" type="ParafiaPRO.Service.Impl.HttpServiceImpl, ParafiaPRO">
        <property name="ContentProvider" ref="ContentProvider"/>
      </object>
      
      <object id="AccountController" type="ParafiaPRO.Controller.Impl.AccountControllerImpl, ParafiaPRO">
        <property name="AccountService" ref="AccountService"/>
      </object>

      <object id="MainController" type="ParafiaPRO.Controller.Impl.MainControllerImpl, ParafiaPRO">
        <property name="SchedulerService" ref="SchedulerService"/>
        <property name="TimerJobObject" ref="TimerJobObject"/>
      </object>

      <object id="SettingsController" type="ParafiaPRO.Controller.Impl.SettingsControllerImpl, ParafiaPRO">
        <property name="Settings" ref="Settings"/>
      </object>

      <object id="AccountListView" type="ParafiaPRO.View.Impl.AccountListView, ParafiaPRO">
        <property name="AccountController" ref="AccountController"/>
        <property name="MainController" ref="MainController"/>
        <property name="Location">
          <object type="System.Drawing.Point, System.Drawing">
            <constructor-arg index="0" value="2"/>
            <constructor-arg index="1" value="8"/>
          </object>
        </property>
      </object>

      <object id="ControlPanelView" type="ParafiaPRO.View.Impl.ControlPanelView, ParafiaPRO">
        <property name="MainController" ref="MainController"/>
        <property name="Location">
          <object type="System.Drawing.Point, System.Drawing">
            <constructor-arg index="0" value="3"/>
            <constructor-arg index="1" value="8"/>
          </object>
        </property>
      </object>

      <object id="SettingsPanelView" type="ParafiaPRO.View.Impl.SettingsPanelViewImpl, ParafiaPRO">
        <property name="SettingsController" ref="SettingsController"/>
        <property name="Location">
          <object type="System.Drawing.Point, System.Drawing">
            <constructor-arg index="0" value="0"/>
            <constructor-arg index="1" value="0"/>
          </object>
        </property>
      </object>

      <object id="LoggerPanelView" type="ParafiaPRO.View.Impl.LoggerPanelViewImpl, ParafiaPRO">
        <property name="Location">
          <object type="System.Drawing.Point, System.Drawing">
            <constructor-arg index="0" value="0"/>
            <constructor-arg index="1" value="0"/>
          </object>
        </property>
      </object>

      <object id="Shell" type="ParafiaPRO.Shell, ParafiaPRO">
        <property name="Settings" ref="Settings"/>
        <property name="AccountListView" ref="AccountListView"/>
        <property name="ControlPanelView" ref="ControlPanelView"/>
        <property name="SettingsPanelView" ref="SettingsPanelView"/>
        <property name="LoggerPanelView" ref="LoggerPanelView"/>
      </object>

      <object id="ContentProvider" type="ParafiaPRO.Providers.Impl.ContentProviderImpl, ParafiaPRO"/>
      
    </objects>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="ParafiaPRO.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="DelegateAppender" type="ParafiaPRO.Core.Logging.LoggerAppender, ParafiaPRO">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-20date{yyyy-MM-dd HH:mm:ss} %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="DelegateAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
