<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      <!--<object name="configForm" type="ParafiaIoC.ConfigForm, ParafiaIoC"/>
      
      <object name="mainForm" type="ParafiaIoC.MainForm, ParafiaIoC">
        <property name="ConfigForm" ref="configForm"/>
      </object>


      <object name="formProvider" type="ParafiaIoC.Providers.FormProvider, ParafiaIoC">
        <property name="MainForm" ref="mainForm"/>
        <property name="ConfigForm" ref="configForm"/>
      </object>-->
      
    </objects>
  </spring>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="Spring">
      <level value="DEBUG"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
