<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parafia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Parafia.Properties.Settings>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="parafiaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="parafiaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="armyType" serializeAs="String">
                <value>Defense</value>
            </setting>
            <setting name="sendPilgrimage" serializeAs="String">
                <value>False</value>
            </setting>
        </Parafia.Properties.Settings>
    </userSettings>
</configuration>